@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.product-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @include m.box-shadow-1;
  padding: 2rem;

  &__image{
    height: 15rem;
    object-fit: contain;
  }
  &__name{
    text-align: center;
    font-weight: v.$delgada;
    margin: 1rem 0;
  }
}