@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.header{
  @include m.box-shadow-1;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  
  @include m.desktop {
    flex-direction: row;
    justify-content: space-between;
    height: v.$header-height;
  }

  &__logo{
    @include m.texto-fluido(2rem,4rem);
    text-transform: uppercase;
    font-weight: v.$regular;
    letter-spacing: .2rem;
    margin: 0;

    @include m.desktop {
      &:hover{
        animation: pulse 1.1s linear infinite;
      }
    }
   
    
    a{
      @include m.texto-degradado(v.$naranja,v.$secundario);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
